<h3 class="text-center mb-4">Courses Plaza</h3>
<form action="/plaza/filter" method="POST" class="row mx-auto mb-4">
    <input type="text" class="col-md-11 form-control mb-2" name="keywords" placeholder="search the course">
    <button type="submit" class="col-md-1 btn btn-warning mb-2">Search</button>
</form>
<div class="row">
    {{#each coursesT}}
    <div class="col-md-4 col-sm-12 mb-3">
        <div class="card card-body">
            <form action="/idea/{{ userV }}/{{ userN }}" method="POST">
                <p class="text-right mb-0">{{ userName }}</p>
                <h2>{{ title }}</h2>
                <input type="hidden" name="title" value="{{ title }}">
                <textarea rows="5" class="form-control mb-4" name="details">{{ details }}</textarea>
                {{#if userV }}
                <button class="btn btn-outline-primary btn-block">Add</button>
                {{else}}
                <a href="/user/login" class="btn btn-outline-primary btn-block">Login and Add</a>
                {{/if}}
            </form>
        </div>
    </div>
    {{/each}}
</div>