<h1 class="text-center">Gracias!!!</h1>
<form action="/idea/filter/{{ user }}" method="POST" class="row mx-auto mb-4">
    <input type="text" class="col-md-11 form-control mb-2" name="keywords" placeholder="search the course">
    <button type="submit" class="col-md-1 btn btn-primary btn-warning mb-2">Search</button>
</form>
<div class="row">
    {{#each courses}}
    <div class="col-md-4 col-sm-12 mb-2">
        <div class="card card-body">
            <h3>{{ title }}</h3>
            <textarea rows="5" class="mb-4 form-control">{{ details }}</textarea rows="5">
            <a href="/idea/edit/{{ id }}" class="btn btn-primary btn-block mb-1">Edit</a>
            <form action="/idea/{{ id }}/{{ user }}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-default btn-block" value="Delete">
            </form>
        </div>
    </div>
    {{else}}
    <p class="col-md-12 text-center">Oops, Nothing to Show.</p>
    <div class="container">
        <a href="/new-course" class="btn btn-primary btn-block mt-3">Add New</a>
    </div>
    {{/each}}
</div>